<start_of_turn>user

Based on general world knowledge, is the following sentence ambiguous? Reply only with yes or no. Sentence:

{{ text }}

Format your response according to the following JSON schema:
{{ schema }}
<end_of_turn>
<start_of_turn>model
